<div class="container" style="padding: 20px 0px;">
  <div class="row">
    <div class="col-md-12" style="display: flex;">
      <h4 style="cursor: pointer;color: #1693bc;" (click)="back()" class="actions-main" color="primary">
        {{ 'Twitter Dashboard' }}
      </h4> 
      <h4 style="margin: 0px 20px;"> > </h4> 
      <h4 rtl class="main-heading">{{ 'Performance Dashboard' }}</h4>
    </div>
  </div>
  <div class="re-container">
    <h1>Total Analytics - Under Development</h1>
  </div>
</div>
