.hr{
    border-bottom: 2px solid #2222e4;
    padding:  0 5px;
    margin: 0 5px;
}

.dataDate{
    padding: 0 5px;
    margin: 5px;
}

.tw-high{
    font-size: 12px;
    color: #5d5de6;
    margin-left: 5px;
}

.in-container{
    margin: 30px 10px;
    width: 32%;
}